@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 5px solid greenyellow;
    height: 100vh;
    width: 100vw;
}
#container{
    border: 3px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    /* I THINK THAT THIS MAKES THE POKEDEX SMALLER AND IN THE MIDDLE ? ?? */
    align-items: center;
    justify-content: center;
    /* OK YES I THINK IT DID DO THAT I CHANGED THE WIDTHS AND HEIGHTS IN THE POKEDEX
    LEFT AND RIGHT SIDE 
    SEE BELOW */
}
/* POKEDEX SIDES LEFT AND RIGHT */
#container #pokedex-left-side{
    border: 3px solid red;
    width: 35%;
    height: 75%;
    border-radius: 50px 0 0 50px;
}
#container #pokedex-right-side{
    border: 3px solid red;    
    width: 35%;
    height: 75%;
    border-radius: 0 50px 50px 0;
}
/* POKEDEX LEFT SIDE ELEMENTS */
#pokedex-left-side #pokemon-image{
    border: 3px solid black;
    border-radius: 50px 0 0 0;  
    height: 50%;
}
#pokedex-left-side #pokemon-left-stats{
    border: 3px solid black;  
    border-radius: 0 0 0 50px;  
    height: 50%;
}
/* POKEDEX RIGHT SIDE ELEMENTS */
#pokedex-right-side #search-bar-container{
    border: 3px solid black;
    height: 15%;
    border-radius: 0 50px 0 0;
}
#pokedex-right-side #pokemon-images{
    border: 3px solid black;
    height: 40%;
    /* for the nested elements in #pokemon-images */
    display: flex;
}
#pokedex-right-side #pokemon-right-stats{
    border: 3px solid black;
    height: 45%;
    border-radius: 0 0 50px 0;
    /* FOR NESTED ELEMENTS */
    display: flex;
}
/* NESTED POKEDEX LEFT SIDE ELEMENTS */

/* NESTED POKEDEX RIGHT SIDE ELEMENTS */

/* #pokemon-images */
#pokemon-images #pokemon-image-1{
    border: 3px solid green;
    height: 100%;
    width: 50%;
}
#pokemon-images #pokemon-image-2{
    border: 3px solid green;
    height: 100%;
    width: 50%;
}
/* #pokemon-right-stats */
#pokemon-right-stats #pokemon-stats-1{
    border: 3px solid aqua;
    height: 100%;
    width: 50%;
}
#pokemon-right-stats #pokemon-stats-2{
    border: 3px solid aqua;
    height: 100%;
    width: 50%;
    border-radius: 0 0 50px;
}



