@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 5px solid greenyellow;
    height: 100vh;
    width: 100vw;
}
#container{
    border: 3px solid black;
    height: 100%;
    width: 100%;
    display: flex;
}
/* POKEDEX SIDES LEFT AND RIGHT */
#container #pokedex-left-side{
    border: 3px solid red;
    width: 50%;
    height: 100%;
}
#container #pokedex-right-side{
    border: 3px solid red;    
    width: 50%;
    height: 100%;
}
