@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 5px solid greenyellow;
    height: 100vh;
    width: 100vw;
}
#container{
    border: 3px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    /* I THINK THAT THIS MAKES THE POKEDEX SMALLER AND IN THE MIDDLE ? ?? */
    align-items: center;
    justify-content: center;
    /* OK YES I THINK IT DID DO THAT I CHANGED THE WIDTHS AND HEIGHTS IN THE POKEDEX
    LEFT AND RIGHT SIDE 
    SEE BELOW */
}
/* POKEDEX SIDES LEFT AND RIGHT */
#container #pokedex-left-side{
    border: 3px solid red;
    width: 35%;
    height: 75%;
    border-radius: 50px 0 0 50px;
}
#container #pokedex-right-side{
    border: 3px solid red;    
    width: 35%;
    height: 75%;
    border-radius: 0 50px 50px 0;
}
/* POKEDEX LEFT SIDE ELEMENTS */
#pokedex-left-side #pokemon-name{
    border: 3px solid black;
    border-radius: 50px 0 0 0;  
    height: 10%;
}
#pokedex-left-side #pokemon-image{
    border: 3px solid black;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pokedex-left-side #pokemon-left-stats{
    border: 3px solid ;  
    border-radius: 0 0 0 50px;  
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* POKEDEX RIGHT SIDE ELEMENTS */
#pokedex-right-side #search-bar-container{
    border: 3px solid black;
    height: 15%;
    border-radius: 0 50px 0 0;
    text-align: center;
    padding-top: 25px
}
        /* NESTED INPUT ELEMENT IN THE SEARCH BAR CONTAINER */
#search-bar-container #input-search-bar{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
#search-bar-container #search-button{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 500;
}
#search-bar-container #search-button:hover{
    background-color: hsl(0, 0%, 83%);
}
#search-bar-container #search-button:hover{
    color: orange;
}
#search-bar-container #search-button:active{
    background-color: hsl(0, 0%, 93%);
    color: orangered;
}
#pokedex-right-side #pokemon-images{
    border: 3px solid black;
    height: 40%;
    /* for the nested elements in #pokemon-images */
    display: flex;
}
#pokedex-right-side #pokemon-right-stats{
    border: 3px solid black;
    height: 45%;
    border-radius: 0 0 50px 0;
    /* FOR NESTED ELEMENTS */
    display: flex;
}
/* NESTED POKEDEX LEFT SIDE ELEMENTS */
#pokemon-name h1{
    text-align: center;
    margin: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}  
.bold-pokemon-name{
    color: red;
}
#pokemon-image img{
    border: 3px solid red;
    height: 200px;
    width: 200px;
    border-radius: 25px;
    object-fit: cover;
}
#pokemon-image #current-pokemon-id{
    margin-top: 5px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
#pokemon-left-stats #current-stats-container{
    border: 3px solid red;
    border-radius: 25px;
    padding: 5px;
    height: 75%;
    width: 65%;
    font-size: 25px;
}
#pokemon-left-stats #current-stats-container ul{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
#current-stats-container ul li{
    /* border: 3px solid greenyellow; */
    margin-top: 10px;
}
/* NESTED POKEDEX RIGHT SIDE ELEMENTS */
#pokemon-image-1 #previous-pokemon-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
#pokemon-image-1 #previous-pokemon-id{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
}
#pokemon-image-2 #next-pokemon-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
#pokemon-image-2 #next-pokemon-id{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
}
/* #pokemon-images */
#pokemon-images #pokemon-image-1, #pokemon-images #pokemon-image-2{
    border: 3px solid green;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* #pokemon-right-stats */
#pokemon-right-stats #pokemon-stats-1{
    border: 3px solid aqua;
    height: 100%;
    width: 50%;
    /* display: flex;
    text-align: center;
    justify-content: center; */
}
#pokemon-right-stats #pokemon-stats-2{
    border: 3px solid aqua;
    height: 100%;
    width: 50%;
    border-radius: 0 0 50px;
    /* display: flex;
    text-align: center;
    justify-content: center; */
}
#pokemon-stats-1 ul, #pokemon-stats-2 ul{
    list-style: none;
}
#pokemon-stats-1 ul li, #pokemon-stats-2 ul li{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

/* IMG ELEMENTS INSIDE POKEMON IMAGES */
#pokemon-images #pokemon-image-1 img, #pokemon-images #pokemon-image-2 img{
    border: 3px solid red;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.bolded-stats{
    font-weight: 600;
}

#pokemon-stats-1 #rats, #pokemon-stats-2 #rats{
    border: 3px solid red;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 60px;
    width: 80%;
    padding: 10px;
}